
header {
    height: 84px;
    display: flex;
}
.container-1 {
    margin: 0 auto;
    width: 1263px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo {
    vertical-align: middle;
    width: 33px;
    height: 42px;
}
.list {
    vertical-align: middle;
    width: 554px;
}
.list1 {
    display: flex;
    justify-content: space-between;
}
ul {
    color: #636060;
    font-size: 17px;
    font-family: Helvetica;
}
.s-1 {
    display: flex;
    width: 100%;
    height: 606px;
    background-image: url(../images/view.png);
    background-color: #636060;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
}
.text {
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h1 {
    color: #FFF;
    font-size: 79px;
    font-family: Helvetica;
    font-weight: 700;
}
h2 {
    color: #FFF;
    font-size: 19px;
    font-family: Helvetica;
}
.container-2 {
    width: 1242px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.text1 {
    vertical-align: top;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h3 {
    color: #636060;
    font-size: 17px;
    font-family: Helvetica;
    margin-bottom: 9px;
}
h4 {
    color: #010101;
    font-size: 28px;
    font-family: Helvetica;
}
.p1 {
    height: 115px;
    width: 235px;
    color: #636060;
    font-size: 20px;
    font-family: Helvetica;
}
.text2 {
    vertical-align: top;
    width: 924px;
    height: 680px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.texts {
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h6 {
    color: #343232;
    font-size: 19px;
    font-family: Helvetica;
    margin-bottom: 9px;
    font-weight: 400;
    line-height: 22px;
}
.bigphara {
    width: 286px;
    color: #636060;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 400;
    line-height: 21px;
}
.texts1 {
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
}