header {
    height: 84px;
    display: flex;
}
.container-1 {
    margin: 0 auto;
    width: 1263px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo {
    vertical-align: middle;
    width: 33px;
    height: 42px;
}
.list {
    vertical-align: middle;
    width: 554px;
}
.list1 {
    display: flex;
    justify-content: space-between;
}
ul {
    color: #636060;
    font-size: 17px;
    font-family: Helvetica;
}
